@font-face {
    font-family: 'MaPoliceCustom';
    src: url('fonts/the_drunk_designer.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    font-family: 'MaPoliceCustom', sans-serif;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.section {
    padding: 80px 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section:nth-child(even) {
    background-color: #f9f9f9;
}

.section h1, .section h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.section p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
